*.egg-info/
examples/Script.slurm
examples/slurm-*

**/.ipynb_checkpoints/


dtegnn/scripts/slurm-*
dtegnn/scripts/Script.slurm
dtegnn/scripts/indices_*
dtegnn/scripts/logs
dtegnn/scripts/wandb
dtegnn/scripts/*.ipynb_checkpoints/

dtegnn/model_info/best*
dtegnn/model_info/checkpoints

dtegnn/data/_OldCreateDataset.py
dtegnn/data/*.ipynb_checkpoints

dtegnn/config/my_config.yml
dtegnn/config/__init__.py

dtegnn/training/*.ipynb_checkpoints

dtegnn/utils/*.ipynb_checkpoints

dtegnn/*__pycache__
dtegnn/utils/*__pycache__
dtegnn/training/*__pycache__
dtegnn/model/*__pycache_
dtegnn/model/layers/*__pycache__
dtegnn/model/nn/*__pycache___
dtegnn/data/*__pycache__


